<a routerLink="/songs/create" class="btn btn-primary">Create</a>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of songs">
    <th scope="row">{{song.id}}</th>
    <td>{{song.name}}</td>
    <td>{{song.singer}}</td>
    <td><a routerLink="/songs/info/{{song.id}}" class="btn btn-info">Info</a></td>
    <td><a routerLink="/songs/edit/{{song.id}}" class="btn btn-warning">Edit</a></td>
    <td><a routerLink="/songs/delete/{{song.id}}" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
